<br/>
<button mat-raised-button color="primary" (click)="openDialog()">Add Todo</button>


<div class="example-container">
    <h2>To do</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <mat-card class="example-box" *ngFor="let item of pendingtodos$ | async" cdkDrag>
        <mat-card-actions>
            <mat-checkbox class="example-margin"
            (change)="updateStatus(item.id, $event)">{{item.name}}</mat-checkbox>
          </mat-card-actions>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
        
    </mat-card>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Done</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <mat-card class="example-box" *ngFor="let item of donetodos$ | async" cdkDrag>
        <mat-card-actions>
            <mat-checkbox [checked]=true class="example-margin"
            (change)="updateStatus(item.id, $event)">{{item.name}}</mat-checkbox>
          </mat-card-actions>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
        
    </mat-card>
    </div>
  </div>
  