<h2 mat-dialog-title>Add Todo</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="todoForm">
        <p>
        <mat-form-field appearance="fill">
            <mat-label>Task Name</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="name" required>
            <mat-error *ngIf="todoForm.controls.name.hasError('required')">Required</mat-error>
        </mat-form-field>
    </p>
        <p>
        <mat-form-field appearance="fill">
            <mat-label>Task Description</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="description" required>
            <mat-error *ngIf="todoForm.controls.description.hasError('required')">Required</mat-error>
        </mat-form-field>
    </p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="due_date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" [mat-dialog-close]="todoForm.value" cdkFocusInitial>Add</button>
</mat-dialog-actions>